//- start: Meta
meta(charset="utf-8")
title=title
meta(name="description", content="")
meta(name="author", content="")
meta(name="keyword", content="")
//- end: Meta

//- start: Mobile Specific
meta(name="viewport", content="width=device-width, initial-scale=1")
//- end: Mobile Specific

//- start: CSS
link(href="stylesheets/bootstrap.css", rel="stylesheet")
link(href="stylesheets/style.css", rel="stylesheet")
link(href="stylesheets/retina.css", rel="stylesheet")
//- link(href="stylesheets/main.css", rel="stylesheet")
//- end: CSS

//- start: Favicon and Touch Icons
link(rel="apple-touch-icon-precomposed", sizes="144x144", href="images/ico/apple-touch-icon-144-precomposed.png")
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="images/ico/apple-touch-icon-114-precomposed.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="images/ico/apple-touch-icon-72-precomposed.png")
link(rel="apple-touch-icon-precomposed", sizes="57x57", href="images/ico/apple-touch-icon-57-precomposed.png")
link(rel="shortcut icon", href="images/ico/favicon.png")
//- end: Favicon and Touch Icons

