block sidebar
  #sidebar-left.col-lg-2.col-sm-1
    input.search.hidden-sm(type='text', placeholder='...')
    .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
      ul.nav.nav-tabs.nav-stacked.main-menu
        li
          a(href='index.html')
            i.fa.fa-bar-chart-o
            span.hidden-sm  Dashboard
        li
          a.dropmenu(href='index.html#')
            i.fa.fa-eye
            span.hidden-sm  UI Features
            span.label 3
          ul
            li
              a.submenu(href='ui-sliders-progress.html')
                i.fa.fa-eye
                span.hidden-sm  Sliders & Progress
            li
              a.submenu(href='ui-nestable-list.html')
                i.fa.fa-eye
                span.hidden-sm  Nestable Lists
            li
              a.submenu(href='ui-elements.html')
                i.fa.fa-eye
                span.hidden-sm  Elements
        li
          a(href='widgets.html')
            i.fa.fa-dashboard
            span.hidden-sm  Widgets
        li
          a.dropmenu(href='index.html#')
            i.fa.fa-folder-o
            span.hidden-sm  Example Pages
            span.label 3
          ul
            li
              a.submenu(href='page-infrastructure.html')
                i.fa.fa-hdd-o
                span.hidden-sm  Infrastructure
            li
              a.submenu(href='page-inbox.html')
                i.fa.fa-envelope
                span.hidden-sm  Inbox
            li
              a.submenu(href='page-todo.html')
                i.fa.fa-tasks
                span.hidden-sm  ToDo & Timeline
            //
               Profile Page - Cooming Soone
                              <li><a class="submenu" href="page-profile.html"><i class="fa fa-male"></i><span class="hidden-sm"> User Profile</span></a></li>

        li
          a.dropmenu(href='index.html#')
            i.fa.fa-edit
            span.hidden-sm  Forms
            span.label 3
          ul
            li
              a.submenu(href='form-elements.html')
                i.fa.fa-edit
                span.hidden-sm  Form elements
            li
              a.submenu(href='form-wizard.html')
                i.fa.fa-edit
                span.hidden-sm  Wizard
            li
              a.submenu(href='form-dropzone.html')
                i.fa.fa-edit
                span.hidden-sm  Dropzone Upload
        li
          a.dropmenu(href='index.html#')
            i.fa.fa-list-alt
            span.hidden-sm  Charts
            span.label 3
          ul
            li
              a.submenu(href='charts-flot.html')
                i.fa.fa-list-alt
                span.hidden-sm  Flot Charts
            li
              a.submenu(href='charts-xcharts.html')
                i.fa.fa-list-alt
                span.hidden-sm  xCharts
            li
              a.submenu(href='charts-others.html')
                i.fa.fa-list-alt
                span.hidden-sm  Other
        li
          a(href='typography.html')
            i.fa.fa-font
            span.hidden-sm  Typography
        li
          a(href='gallery.html')
            i.fa.fa-picture-o
            span.hidden-sm  Gallery
        li
          a(href='table.html')
            i.fa.fa-align-justify
            span.hidden-sm  Tables
        li
          a(href='calendar.html')
            i.fa.fa-calendar
            span.hidden-sm  Calendar
        li
          a(href='file-manager.html')
            i.fa.fa-folder-open
            span.hidden-sm  File Manager
        li
          a.dropmenu(href='index.html#')
            i.fa.fa-star
            span.hidden-sm  Icons
            span.label 5
          ul
            li
              a.submenu(href='icons-halflings.html')
                i.fa.fa-star
                span.hidden-sm  Halflings
            li
              a.submenu(href='icons-glyphicons-pro.html')
                i.fa.fa-star
                span.hidden-sm  Glyphicons PRO
            li
              a.submenu(href='icons-filetypes.html')
                i.fa.fa-star
                span.hidden-sm  Filetypes
            li
              a.submenu(href='icons-social.html')
                i.fa.fa-star
                span.hidden-sm  Social
            li
              a.submenu(href='icons-font-awesome.html')
                i.fa.fa-star
                span.hidden-sm  Font Awesome
        li
          a(href='login.html')
            i.fa.fa-lock
            span.hidden-sm  Login Page
  //- end: Main Menu
