#sidebar-left.col-lg-2.col-sm-1
  input.search.hidden-sm(
    ng-model='searching.$',
    type='text',
    placeholder='...'
  )
  .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu(ng-init='items = [{url:"/dashboard", text: "Dashboard"}]')
      li(ng-repeat='item in items | filter:searching')
        a(ng-href='{{ item.url }}')
          i.fa.fa-bar-chart-o
          span.hidden-sm {{ item.text }}
