.DS_Store
.ruby-version
.tmp
.sass-cache
npm-debug.log
dist
node_modules
client/bower_components
bower_components
log/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

npm-debug.log
node_modules
.idea
*.iml
.DS_Store
Thumbs.db

buildAssets
