.slide-down-fade-animate {
  &.ng-enter,
  &.ng-move,
  &.ng-leave {
    @include transition(0.5s);
    position: relative;

  }
  // Entering animation
  &.ng-enter {
    top: -30px;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
  }
  // End entering
  // Start animation
  &.ng-move {
    // top: 30px;
    opacity: 0.5;
  }
  // In the middle of animation
  &.ng-move.ng-move-active {
    // top: 0px;
    opacity: 1;
  }

  // Ending animation
  &.ng-leave {
    // top: 0px;
    opacity: 0.5;
    position: absolute;
  }
  &.ng-leave.ng-leave-active {
    // top: -30px;
    opacity: 0;
  }
  // End ending animation

}


.slide-down-fade-right-animate {
  &.ng-enter,
  &.ng-move,
  &.ng-leave {
    @include transition(0.5s);
    position: relative;
  }

  // Entering animation
  &.ng-enter {
    top: -30px;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
  }
  // End entering

  // Start animation
  &.ng-move {
    opacity: 0.5;
    // top: 30px;
  }
  // In the middle of animation
  &.ng-move.ng-move-active {
    opacity: 1;
    right: 0;
  }

  // Ending animation
  &.ng-leave {
    opacity: 0.5;
    position: absolute;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
    right: -300px;
  }
  // End ending animation

}
