<!doctype html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link href='/stylesheets/bootstrap.min.css' rel='stylesheet' type="text/css">
  <link href='/stylesheets/bootstrap-responsive.min.css' rel='stylesheet' type="text/css">
  <link href='/stylesheets/rickshaw.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/jquery.ui.slider.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css' rel='stylesheet' type="text/css">

  <title>Reddit Insight</title>

</head>
<body>

<nav></nav>
<header></header>

<div class="container-fluid">
  <section id="trackpost"></section>
  <section id="trackuser"></section>
  <section id="wordcloud"></section>
  <section id="login"></section>
  <section id="dashboard"></section>
  <section id="index"></section>
</div>

<footer></footer>

</body>
<script id="dashboard-template" type="text/x-handlebars-template">
  <div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
    <div id="legend"></div>
    <form id="offset_form" class="toggler">
      <input type="radio" name="offset" id="lines" value="lines" checked>
      <label class="lines" for="lines">lines</label><br>
      <input type="radio" name="offset" id="stack" value="zero">
      <label class="stack" for="stack">stack</label>
    </form>
    <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
      <div class="ui-slider-range ui-widget-header"></div>
      <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
      <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
    </div>
  </div>
</script>

<script id="nav-template" type="text/x-handlebars-template">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="">Reddit Insight</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class=""><a href="#/trackpost">Track Post</a></li>
            <li class=""><a href="#/trackuser">Track User</a></li>
            <li class=""><a href="#/wordcloud">Word Cloud</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="footer-template" type="text/x-handlebars-template">
  <div class="footer-inner">
    <ul class="nav nav-pills">
      <li><a href="#">© 2013 Reddit Insight</a></li>
      <li><a href="https://github.com/gdi2290/RedditInsight">Fork on Github</a></li>
      <li class="disabled"><a href="#">Team:</a></li>
      <li><a href="https://github.com/gdi2290">Patrick Stapleton</a></li>
      <li><a href="https://github.com/ebeal">Elle Beal</a></li>
      <li><a href="https://github.com/googamanga">Alex Gaputin</a></li>
      <li><a href="https://github.com/sheltowt">Bill Shelton</a></li>   
      <li><a href="https://github.com/kevinhamiltonsmith">Kevin Smith</a></li>   
    </ul>
  </div>
</script>

<script id="trackpost-template" type="text/x-handlebars-template">
  <div>
    <h2>Track Post View</h2>
    <form>
      <label for="tracking-url">Tracking URL</label>
      <input id="tracking-url" type="text" value="" autofocus>
    </form>
    <article id="trackpost-stats"></article>
    <article id="trackpost-chart"></article>
  </div>
</script>

<script id="trackpost-chart-template" type="text/x-handlebars-template">
  <div id="chart_container">
    <div id="y_axis"></div>
    <span class="y-axis">Karma</span>
    <span class="x-axis">Time (s)</span>
    <div id="chart"></div>
    <div id="legend"></div>
    <form id="offset_form" class="toggler">
      <input type="radio" name="offset" id="lines" value="lines" checked>
      <label class="lines" for="lines">lines</label><br>
      <input type="radio" name="offset" id="stack" value="zero">
      <label class="stack" for="stack">stack</label>
    </form>
  </div>
</script>

<script id="trackpost-stats-template" type="text/x-handlebars-template">
  <a href="http://www.reddit.com{{ permalink }}" target="_blank">
    <h4>{{ title }}</h4>
  </a>
  <a href="{{ data.url }}" target="_blank">
    <img src="{{ thumbnail }}">
  </a>
  <br>
  Author: <h4 style="display:inline">{{ author }}</h4>
  <br>
  Score: <h4 style="display:inline">{{ score }}</h4>
  <br>
  <i class="icon-arrow-up"></i>: <h4 style="display:inline">{{ ups }}</h4>
  <br>
  <i class="icon-arrow-down"></i>: <h4 style="display:inline">{{ downs }}</h4>
  <br>
  Comments: <h4 style="display:inline">{{ num_comments }}</h4>
</script>

<script id="trackuser-template" type="text/x-handlebars-template">
  <div>
    <h2>Track User View</h2>
    <form>
      <label for="tracking-username">Track Username</label>
      <input id="tracking-username" type="text" value="" autofocus>
    </form>
  </div>
  <div id="trackuser-data"></div>
  <div id="trackuser-posts"></div>
</script>

<script id="trackuser-data-template" type="text/x-handlebars-template">
  {{#if name }}
    name: {{ name }} <br>
    {{#if created }}
    created: {{ created }} <br>
    {{/if}}
    {{#if created_utc }}
    created_utc: {{ created_utc }} <br>
    {{/if}}
    {{#if link_karama }}
    link karma {{ link_karama }} <br>
    {{/if}}
    {{#if comment_karma}}
    comment karma {{ comment_karma }} <br>
    {{/if}}
    {{#if over_18 }}
    over 18?: {{ over_18 }} <br>
    {{/if}}
    {{#if is_gold }}
    is gold?: {{ is_gold }} <br>
    {{/if}}
    {{#if is_mod }}
    is mod?: {{ is_mod }} <br>
    {{/if}}
    {{#if has_verified_email }}
    has verified email?: {{ has_verified_email }} <br>
    {{/if}}
    {{#if id}}
    id: {{ id }} <br>
    {{/if}}
    {{#if has_mod_mail }}
    has mod mail: {{ has_mod_mail }} <br>
    {{/if}}
  {{/if}}
</script>

<!-- TODO: filter out posts/comments -->
<script id="trackuser-posts-template" type="text/x-handlebars-template">
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#posts">Posts</a></li>
  <li><a href="#comments">Comments</a></li>
</ul>

  <div class="tab-content">
  {{#each this}}
    {{#compare kind 't3'}}
      <div class="tab-pane active" id="posts">
          <a href="http://www.reddit.com{{ data.permalink }}" target="_blank">
          <h4>{{ data.title }}</h4>
          </a>
        <a href="{{ data.url }}" target="_blank">
          <img src="{{ data.thumbnail }}">
        </a>
        <br>
        Author: <h4 style="display:inline">{{ data.author }}</h4>
        <br>
        Score: <h4 style="display:inline">{{ data.score }}</h4>
        <br>
        <i class="icon-arrow-up"></i>: <h4 style="display:inline">{{ data.ups }}</h4>
        <br>
        <i class="icon-arrow-down"></i>: <h4 style="display:inline">{{ data.downs }}</h4>
        <br>
        Comments: <h4 style="display:inline">{{ data.num_comments }}</h4>
        <hr>
      </div>
    {{else}}
      <div class="tab-pane" id="comments">
        <a href="http://www.reddit.com{{ data.permalink }}" target="_blank">
          <h4>{{ data.title }}</h4>
          </a>
        <a href="{{ data.url }}" target="_blank">
          <img src="{{ data.thumbnail }}">
        </a>
        <br>
        Author: <h4 style="display:inline">{{ data.author }}</h4>
        <br>
        Score: <h4 style="display:inline">{{ data.score }}</h4>
        <br>
        <i class="icon-arrow-up"></i>: <h4 style="display:inline">{{ data.ups }}</h4>
        <br>
        <i class="icon-arrow-down"></i>: <h4 style="display:inline">{{ data.downs }}</h4>
        <br>
        Comments: <h4 style="display:inline">{{ data.num_comments }}</h4>
        <hr>
      </div>
    {{/compare}}
  {{/each}}
  </div>
</script>

<script id="wordcloud-template" type="text/x-handlebars-template">
  <form id='wordCloudForm'>
    <span for='subreddit'>Subreddit:</span>
    <select name="subreddit" id="selectSubreddit">
      <option>Gaming</option>
      <option>WIP-Funny</option>
      <option>WIP-Cabbage</option>
    </select>
    <br>
    <span>Number of Items pulled:</span>
    <input type='input' name='limit' value="{{ limit }}">
    <br>

    <span for='sizeMultiple'>Size Multiplyer</span>
    <input type='input' name='sizeMultiple' value="{{ sizeMultiple }}">
    <br>
    <input type='radio' name='viewType' checked value="_rotate90discrete"> Horizontal and Vertical
    <br>
    <input type='radio' name='viewType' value='_rotate180continuous'> All Angles
    <br>
    <input class='btn' type='submit' value='submit'>
  </form>
</script>

<script src='/lib/jquery-2.0.2.js'></script>
<script src='/lib/bootstrap.min.js'></script>
<script src='/lib/underscore.js'></script>
<script src='/lib/handlebars.js'></script>
<script src='/lib/backbone.js'></script>
<script src='/lib/backbone-oauth.js'></script>
<script src='/lib/backbone-jsonp.js'></script>
<script arc='/lib/jquery.ui.slider.js'></script>
<script src='/lib/d3.min.js'></script>
<script src='/lib/d3.layout.cloud.js'></script>
<script src='/lib/rickshaw.js'></script>

<script src='/redd.js'></script>

<script src='/models/trackpost_model.js'></script>
<script src='/models/trackuser_model.js'></script>
<script src='/models/trackuserposts_model.js'></script>
<script src='/models/wordcloud_model.js'></script>

<script src='/collections/trackpost_posts_collection.js'></script>
<script src='/collections/trackuser_posts_collection.js'></script>

<script src='/templates/template.js'></script>
<script src='/templates/handlebars_helpers.js'></script>

<script src='/views/dashboard_view.js'></script>
<script src='/views/index_view.js'></script>

<script src='/views/partials/navbar_view.js'></script>
<script src='/views/partials/footer_view.js'></script>

<script src='/views/trackusers/trackuser_view.js'></script>
<script src='/views/trackusers/trackuser-data_view.js'></script>
<script src='/views/trackusers/trackuser-posts_view.js'></script>

<script src='/views/trackpost/trackpost_view.js'></script>
<script src='/views/trackpost/trackpost-stats_view.js'></script>
<script src='/views/trackpost/trackpost-chart_view.js'></script>

<script src='/views/wordcloud_view.js'></script>

<script src='/redd_d3.js'></script>
<script src='/redd_controller.js'></script>
<script src='/router.js'></script>

<script>
    Redd.initialize();
</script>



</html>
