<!doctype html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono|Montserrat+Alternates|Walter+Turncoat|Satisfy|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'> -->
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link href='/lib/css/bootstrap.min.css' rel='stylesheet' type="text/css">
  <link href='/lib/css/bootstrap-responsive.min.css' rel='stylesheet' type="text/css">
  <link href='/lib/css/rickshaw.css' rel='stylesheet' type='text/css'>
  <link href='/lib/css/jquery.ui.slider.css' rel='stylesheet' type='text/css'>
  <link href='/lib/css/ladda.min.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css' rel='stylesheet' type="text/css">
  <link href='/stylesheets/home-style.css' rel='stylesheet' type="text/css">

  <title>Reddit Insight</title>

</head>
<body>

  <nav></nav>
  <header></header>

  <div class="container-fluid full-width-container">
    <section id="dashboard"></section>
    <section id="wordcloud"></section>
    <section id="circlecluster"></section>
    <section id="frequency"></section>
  </div>

  <div class="container-fluid main-container">
    <section id="trackpost"></section>
    <section id="trackuser"></section>
    <section id="login"></section>
    <section id="topiccluster"></section>
    <section id="graphs"></section>
  </div>

  <footer></footer>

</body>


<script src='/lib/js/jquery-2.0.2.js'></script>
<script src='/lib/js/bootstrap.min.js'></script>
<script src='/lib/js/underscore.js'></script>
<script src='/lib/js/handlebars.js'></script>
<script src='/lib/js/backbone.js'></script>
<script src='/lib/js/backbone-oauth.js'></script>

<script src='/lib/backbone-jsonp.js'></script>
<script src='/lib/backbone-controller.js'></script>
<script src='/lib/js/d3.min.js'></script>
<!-- <script src='/lib/js/d3Full/d3.js'></script> -->
<script src='/lib/js/d3.layout.cloud.js'></script>
<script src='/lib/js/rickshaw.js'></script>
<script src='/lib/js/jquery.fittext.js'></script>
<script src='/lib/js/TweenMax.min.js'></script>
<script src='/lib/js/jquery.superscrollorama.js'></script>
<script src='/lib/handlebars_helpers.js'></script>

<script src='/templates/compiled/templates.js'></script>

<script src='/redd.js'></script>
<script src='/template.js'></script>

<script src='/models/trackpost_model.js'></script>
<script src='/models/trackuser_model.js'></script>
<script src='/models/trackuserposts_model.js'></script>
<script src='/models/wordcloud_model.js'></script>
<script src='/models/topiccluster_model.js'></script>

<script src='/collections/trackpost_posts_collection.js'></script>
<script src='/collections/trackuser_posts_collection.js'></script>

<script src='/views/dashboard_view.js'></script>

<script src='/views/partials/navbar_view.js'></script>
<script src='/views/partials/footer_view.js'></script>
<script src='/views/partials/header_view.js'></script>

<script src='/views/trackusers/trackuser_view.js'></script>
<script src='/views/trackusers/trackuser-data_view.js'></script>
<script src='/views/trackusers/trackuser-posts_view.js'></script>

<script src='/views/trackpost/trackpost_view.js'></script>
<script src='/views/trackpost/trackpost-stats_view.js'></script>
<script src='/views/trackpost/trackpost-chart_view.js'></script>

<script src='/views/topiccluster/topiccluster_view.js'></script>
<script src='/views/circlecluster/circlecluster_view.js'></script>
<script src='/views/frequency/frequency_view.js'></script>
<script src='/views/graphs/graphs_view.js'></script>

<script src='/views/wordcloud/wordcloud_view.js'></script>

<script src='/d3/createpostchart.js'></script>
<script src='/d3/createuserchart.js'></script>

<script src='/redd_controller.js'></script>
<script src='/router.js'></script>



<script>
$(function(){
  Redd.initialize();
});
</script>

</html>
