doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='/lib/jquery-2.0.2.js')
  script(src='/lib/underscore.js')
  script(src='/lib/backbone-min.js')

  script(src='/app.js')

  script(src='/models/app.js')

  //- script(src='/collection/app.js')

  script(src='/views/app.js')

  script(src='/router.js')
  script
    Redd.initialize();
