extends layouts

block content
  #content.col-lg-10.col-sm-11
    .row
      | We downloaded the Reddit
      | What we found will surprise you.
      | Real-Time Post Tracking
      | Just submitted a new post?
      br
      | Want to visualize its performance and Karma?
      br
      |  Track Post
      | Track a Single User
      | Curious to see what your best performing post is?
      br
      | Want to see a user's post and comment history?
      br
      |  Track User
      | Word Clouds
      | Want to generate your own word cloud?
      br
      | Give greater prominence to words that appear more frequently in your Subreddit.
      br
      |  Word Cloud
      | View Interaction
      | See the relationship between controversy ratio, interactions, and total karma per subreddit.
      br
      |  Interaction
      | Data Nuggets
      | cat
      | "Dogs" occurs more times in titles in r/aww than "cats" or "kittens"
      br
      | Despite their internet popularity cats are not submitted nearly as many times on this cuddly SubReddit.
      br
      | lady
      | "Perfect" occurs most frequently in the nsfw SubReddit titles
      br
      | This adjective is surprisingly in the lead for all words used in titles in this not safe for work SubReddit.
      br
      | The top 5 SubReddits make up 40.5% of all Karma
      | r/Funny
      | r/Pics
      | r/Advice Animals
      | r/Aww
      | r/Gaming
      | r/Technology leads all SubReddits, with an average of 2,027 Karma per Post

