<h2>About Us</h2>
<div class="row-fluid about-us">
  <div class="span8">
    <h4 class="index-small">Overview</h4>
    <p>Reddit Insight is an analytics suite for Reddit.com using their public API, combined with real-time data analysis and graphic visualizations of historical data.</p>
    <p>We built this site as a group project at <a href="http://s.gdi2290.com/Hack_Reactor" target="_blank">Hack Reactor</a> over the course of about two weeks. It was an exercise in full-stack web engineering and project management. We assembled the team based on our individual areas of expertise in order to accurately mimic a diverse engineering team.</p>
    <p>This site was built using JavaScript for 99.3% of the code. The stack used includes Backbone, Node, Express, d3, Handlebars, Rickshaw, MongoDB, Mongoose, Bootstrap, and Python scripts.</p>
  </div>
</div>
<div class="row-fluid about-us team">
  <div class="span8">
    <h4 class="index-small">Team</h4>
    <a href="http://gdi2290.com/" target="_blank"><h5 class="index-smallest"><img src="/img/3d2f120.jpg"> Patrick Stapleton</h5></a>
      <p>Responsibilities: Overall MVC architecture, Full-Stack, code refactoring, debugging suite, integrating everything.</p>
      <p>GitHub: <a target="_blank" href="https://github.com/gdi2290">gdi2290</a></p>
      <p>Personal Site: <a target="_blank" href="http://gdi2290.com/">gdi2290.com</a></p>
      <p>LinkedIn: <a target="_blank" href="http://www.linkedin.com/in/gdi2290">Patrick Stapleton</a></p>
      <p>Twitter: <a target="_blank" href="https://twitter.com/gdi2290">@gdi2290</a></p>
    <a href="http://googamanga.tumblr.com/" target="_blank"><h5 class="index-smallest"><img src="/img/19ee9fb.jpg"> Alex Gaputin</h5></a>
      <p>Responsibilities: initiated the idea, pulled all the data from Reddit.com, worked on Word Clouds and Interaction scatter plot, and sliced and diced the data for the "data nuggets", Interactions, and Graphs pages.</p>
      <p>Personal Site: <a target="_blank" href="http://googamanga.tumblr.com/">Googamanga on Tubmblr</a></p>
      <p>LinkedIn: <a target="_blank" href="http://www.linkedin.com/in/alexgaputin">Alex Gaputin</a></p>
      <p>GitHub: <a target="_blank" href="https://github.com/googamanga">googamanga</a></p>
      <p>Twitter: <a target="_blank" href="https://twitter.com/googamanga">@googamanga</a></p>

    <a href="http://ellebeal.com/" target="_blank"><h5 class="index-smallest"><img src="/img/0e8ddaf.jpg"> Elle Beal</h5></a>
      <p>Responsibilities: worked primarily on the front end integrating the data into the d3.js graphs, project management, as well as styling and user testing.</p>
      <p>Personal Site: <a target="_blank" href="http://ellebeal.com/">ElleBeal.com</a></p>
      <p>LinkedIn: <a target="_blank" href="http://www.linkedin.com/pub/eleanor-beal/a/8bb/932">Elle Beal</a></p>
      <p>GitHub: <a target="_blank" href="https://github.com/ebeal">ebeal</a></p>
      <p>Twitter: <a target="_blank" href="https://twitter.com/elliebee">@elliebee</a></p>
    <a href="http://kevinhamiltonsmith.com" target="_blank"><h5 class="index-smallest"><img src="/img/16f16e9.jpg"> Kevin Smith</h5></a>
      <p>Responsibilities: front-side architecture (router, controller, views, and models), real-time data capture, front-end layout and styling, and user interface.</p>
      <p>Personal Site: <a target="_blank" href="http://kevinhamiltonsmith.com">KevinHamiltonSmith.com</a></p>
      <p>LinkedIn: <a target="_blank" href="http://www.linkedin.com/in/kevinhsmith">Kevin Smith</a></p>
      <p>GitHub: <a target="_blank" href="https://github.com/kevinhamiltonsmith">kevinhamiltonsmith</a></p>
      <p>Twitter: <a target="_blank" href="https://twitter.com/kevinhsmitty">@kevinhsmitty</a></p>
    <a href="http://williamshelton.nodejitsu.com/" target="_blank"><h5 class="index-smallest"><img src="/img/32e1404.jpg"> Bill Shelton</h5></a>
      <p>Responsibilities: lead data scientist, data munging, data visualization and machine learning with Python, D3 and R.</p>
      <p>Personal Site: <a target="_blank" href="http://williamshelton.nodejitsu.com/">williamshelton</a></p>
      <p>LinkedIn: <a target="_blank" href="http://www.linkedin.com/in/williamshelton">William Shelton</a></p>
      <p>GitHub: <a target="_blank" href="https://github.com/sheltowt">sheltowt</a></p>
      <p>Twitter: <a target="_blank" href="https://twitter.com/sheltowt">@sheltowt</a></p>

</div>
<div class="row-fluid about-us special-thanks">
  <div class="span8">
    <h4 class="index-small">Special Thanks</h4>
       <a href="http://chrissita.com" target="_blank"><h5 class="index-smallest"><img src="/img/chris.jpg"> Christopher Sita</h5></a>
      <p>Responsibilities: built the d3 framework for the <a href="#interaction">Interaction scatter graph</a>.</p>
      <p>Personal Site: <a target="_blank" href="http://chrissita.com">chrissita</a></p>
      <p>LinkedIn: <a target="_blank" href="http://www.linkedin.com/in/chrissita">Chris Sita</a></p>
      <p>GitHub: <a target="_blank" href="https://github.com/tooseata">tooseata</a></p>
      <p><a target="_blank" href="http://alextrimpe.com/">Alex Trimpe</a>: created the animated Reddit Insight logo</p>
  </div>
</div>

<div class="row-fluid about-us special-thanks">
  <div class="span8">
    <a target="_blank" href="http://s.gdi2290.com/Hack_Reactor">
    <h4 class="index-small">About <img src="http://hackreactor.com/wp-content/uploads/2013/04/180px.png"></h4>
    </a>
      <p>The CS Degree for the 21st Century.</p>
      <p>
        Learn the skills needed to become a Software Engineer in a intensive course that runs 12 hours a day, 6 days per week, for 3 months. The course is based in JavaScript, with an emphasis on modern tools and frameworks such as Angular.js,  Backbone.js, Node.js, jQuery, Meteor, and more. We also study core computer science concepts like data structures, algorithms, and time complexities, along with other web languages like Ruby, Rails, HTML5, and CSS3.
      </p>
      <img src="http://catalystsf.staging.wpengine.com/wp-content/uploads/2012/10/Logos.png">
  </div>
</div>

