<div class="inner-container">
  <h2 class="downloaded">We Downloaded The Reddit</h2>
  <h4 class="nugget-nav">What we found will surprise you.</h4>
  <a href="#infograph-start" id="nugget-arrow-nav"><div class="arrow-down"></div></a>
  <div class="dot-nav"><img src="/img/dots-nav.png" /></div>
  <section id="infograph-start"></section>

  <section id="infograph-cats">
    <p>"Dogs" occurs more times in titles in r/aww than "cats" or "kittens"</p>
    <p class="small">Despite their internet popularity cats are not submitted nearly as many times on this cuddly SubReddit.</p>
  </section>
  <section id="infograph-cats-img">
    <img class="cat-img" src="/img/Cat_5.png" alt="cat" />
  </section>
  <section id="infograph-nsfw">
    <p>"Perfect" occurs most frequently in the nsfw SubReddit titles</p>
    <p class="small">This adjective is surprisingly in the lead for all words used in titles in this not safe for work SubReddit.</p>
  </section>
  <section id="infograph-nsfw-img">
     <img class="nsfw-img" src="/img/Woman_silhouette.png" alt="lady" />
  </section>
  <a href="#infograph-start-karma" id="nugget-arrow-nav"><div class="arrow-down"></div></a>

  <section id="infograph-start-karma"></section>
  <section id="infograph-karma">
    <p>The top 5 SubReddits make up 40.5% of all Karma</p>
    <ol>
      <li>r/Funny</li>
      <li>r/Pics</li>
      <li>r/Advice Animals</li>
      <li>r/Aww</li>
      <li>r/Gaming</li>
    </ol>
  </section>
  <section id="karma-post">
    <p>r/Technology leads all SubReddits, with an average of <span>2,027</span> Karma per Post</p>
  </section>
  <a href="#infograph-start-cluster" id="nugget-arrow-nav"><div class="arrow-down"></div></a>

  <section id="infograph-start-cluster"></section>
  <section id="infograph-cluster">
    <p>Topic Clusters</p>
    <p>The most popular words in the most popular topics.</p>
    <img class="cluster-img" src="/img/allClusters.png" alt="reddit word cluster" />
    <a href="#infograph-bubble" id="nugget-arrow-nav"><div class="arrow-down"></div></a>
  </section>

  <section id="infograph-bubble">
    <p>SubReddit Noun Frequency Analysis</p>
    <p>Can you guess which colors belong to which SubReddit?</p>
    <img class="cluster-img" src="/img/allReddit.png" alt="reddit frequency" />
  </section>
