<div class="footer-inner">
  <ul class="nav nav-pills">
    <li><a href="#">&copy; 2013 Reddit Insight</a></li>
    <li><a href="https://github.com/gdi2290/RedditInsight">Fork on Github</a></li>
    <li class="disabled"><a href="#">Team:</a></li>
    <li><a href="https://github.com/gdi2290">Patrick Stapleton</a></li>
    <li><a href="https://github.com/ebeal">Elle Beal</a></li>
    <li><a href="https://github.com/googamanga">Alex Gaputin</a></li>
    <li><a href="https://github.com/sheltowt">Bill Shelton</a></li>
    <li><a href="https://github.com/kevinhamiltonsmith">Kevin Smith</a></li>
  </ul>
</div>
