<div class="footer-inner">
  <ul class="nav nav-pills">
    <li><a target="_blank" href="#">&copy; 2013 Reddit Insight</a></li>
    <li><a target="_blank" href="https://github.com/gdi2290/RedditInsight">Fork on Github</a></li>
    <li class="disabled"><a href="#">Team Available for Hire:</a></li>
    <li><a target="_blank" href="https://github.com/gdi2290">Patrick</a></li>
    <li><a target="_blank" href="http://ellebeal.com/">Elle</a></li>
    <li><a target="_blank" href="http://www.linkedin.com/in/alexgaputin">Alex</a></li>
    <li><a target="_blank" href="https://github.com/sheltowt">Bill</a></li>
    <li><a target="_blank" href="http://kevinhamiltonsmith.com">Kevin</a></li>
    <li class="disabled"><a href="#">Logo By:</a></li>
    <li><a target="_blank" href="http://alextrimpe.com/">Alex Trimpe</a></li>
  </ul>
</div>
