<h2>SubReddit Graphs</h2>

<h3 class="first-graph">Number of Comments Per Post, Per SubReddit</h3>
<div class="comments">
</div>

<h3>Average Karma Per Post, Per SubReddit</h3>
<div class="karma_subreddit">
</div>