<h2>SubReddit Graphs</h2>

<h3 class="first-graph">Number of Comments Per SubReddit</h3>
<div class="comments">
</div>

<h3>Average Karma Per Post, Per SubReddit</h3>
<div class="karma_subreddit">
</div>

<h3>Posts Per Day of the Week</h3>
<div class="day_week">
</div>
