<h2>Interaction</h2>
<div class="hero-unit">
  <div class="SubredditSelector">
    <h1>Plot Your Favorite Subreddit</h1>
    <p>See which Subreddit has the highest interaction</p>
    <select style="width:460px"class="subredditselector"></select>
  </div>
 </div>
<div id="chart"></div>