<h2>Interaction</h2>
<div class="SubredditSelector">
  <h1>Controversy vs Interaction vs Karma </h1>
  <p>See the relationship between controversy ratio, interactions and total karma per subreddit</p>
</div>
<div id="chart"></div>