<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">Reddit Insight</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class=""><a href="#/trackpost">Track Post</a></li>
          <li class=""><a href="#/trackuser">Track User</a></li>
          <li class=""><a href="#/wordcloud">Word Clouds</a></li>
          <li class=""><a href="#/topiccluster">Topic Cluster</a></li>
          <li class=""><a href="#/circlecluster">All The Clusters</a></li>
          <li class=""><a href="#/frequency">Frequency Analysis</a></li>
          <li class=""><a href="#/graphs">Graphs</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
