<h2>Track a User</h2>
  <form>
    <label for="tracking-username"><h4>Track Username</h4></label>
    <p>Copy and paste the username you're interested in below:</p>
    <input id="tracking-username" type="text" placeholder="Username" autofocus>
    <button id="trackuser-submit" class="ladda-button" data-style="contract" data-size="s">
      <span class="ladda-label">Submit</span>
    </button>
  </form>
  <button class="submit-another ladda-button" data-size="s">
    <span class="ladda-label">Track Another User</span>
  </button>
  <div id="trackuser-data"></div>
  <div class="loader"></div>
  <div id="trackuser-posts"></div>
