{{#each this}}
  {{#if this}}
    {{#compare @key '===' 'created_utc'}}
      <span class="stats-title">created at: </span>{{epoch this }} <br>
    {{else}}
      <span class="stats-title">{{@key}}: </span>{{this }} <br>
    {{/compare}}
  {{/if}}
{{/each}}
<div id="user-chart"></div>
