<div class="post">
  <h2>Track a Post</h2>
  <div class="row-fluid">
    <div class="span12">
      <form>
        <label for="tracking-url"><h4>Track Post</h4></label>
        <p><a href="/img/track_post_tooltip.jpg" class="preview">Copy and paste the URL of the comments for the post you're interested in below <i class="icon-question-sign"></i></a></p>
        <input id="tracking-url" type="text" placeholder="Link to comments" autofocus>
        <button id="trackpost-submit" class="ladda-button" data-style="contract" data-size="s">
          <span class="ladda-label">Submit</span>
        </button>
      </form>
    </div>
  </div>
  <div class="row-fluid">
    <button class="submit-another ladda-button" data-size="s">
      <span class="ladda-label">Track Another Post</span>
    </button>
    <div class="loader"></div>
    <article id="trackpost-stats"></article>
    <article id="trackpost-chart"></article>
  </div>
</div>
