/************
  * General *
 ************/
html, body {
  height: 100%;
}

body{
  background-color: rgba(239,97,36,1);
}

header{
  height:150px;
  margin-top: 60px;
  background: rgba(239,97,36,1) url("../img/reddit-logo.gif") 50% 0 no-repeat;
}

nav{
  border-radius: 0;
  background: white;
}

.navbar .brand{
  margin: 0 20px;
  color:rgba(95,153,207,1);
}
.navbar-inner{
  box-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  background-color: #fff;
  background-image: none;
}
.nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
  text-shadow: none;
  color: rgba(0,0,0,1);
}

.container-fluid{
  position: relative;
  max-width: 960px;
  min-height: 70%;
  margin: 0 auto;
  padding: 1%;

  background-color: rgba(255,255,255,0.8);

  border: 20px solid white;

  text-align: center;
}

.container-fluid h2{
  position:relative;
  top:-50px;

  text-align: left;
  color:rgba(95,153,207,1);
  font-weight: 700;
  font-size: 6em;
  letter-spacing: -.1em;
  text-shadow:
     -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

.container-fluid h3{
  text-align:left;
  color:rgba(50,50,50,0.8);
  font-weight: bold;
  font-size:1.6em;
  position: relative;
  top:-75px;
}

.container-fluid form, #trackpost{
  text-align:left;
}

#trackpost-chart{
  float:right;
  margin-top:-100px;
}

#trackuser-data, #trackuser-posts{
  text-align: left;
}

.stats-title{
  font-weight: bold;
}

#trackuser-posts{
  margin-top: 30px;
}

#trackuser-data{
  margin-bottom: 20px;
}

#tracking-url{
  min-width: 25%;
}

.main-container {
  margin-bottom: 3%;
}
a.preview {
  text-decoration: none;
  color: black;
}
a.preview:hover {
  color: black;
}
#preview{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  z-index: 100;
}

/************
  * Charts *
 ************/
#chart_container .y-axis{
  margin:100px 10px 10px 10px;
  float:left;
}

#chart_container .x-axis{
  float:left;
  position:relative;
  left:300px;
  margin-top:285px;
}
#user-chart{
  float: left;
  margin: 30px auto;
}

/****************
  * Word Cloud *
 ***************/
.wordcloud-form{
  margin:100px;
}

.wordcloud-form p, .wordcloud-form select, .wordcloud-form input{
  display:inline;
  margin:10px; /* only affects left and right */
}

/************
  * Footer *
 ************/
footer{
  min-height: 40px;
  background-color: #fafafa;
  position: relative;
}

.footer-inner{
  margin: 0 10%;
  padding: 5px 20px 0;
}

footer .footer-inner .nav{
  margin: 0;
}

footer li a {
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}

footer li a:hover{
  color: #333;
}

/*********************
  * Submit & Loader *
 *********************/
.ladda-button{
  background-color: rgba(239,97,36,1);
  margin: -10px 0 0 10px;;
}

.submit-another{
  display: none;
  margin: 15px 0 20px 0;
}

.loader {
  width: 50px;
  height: 50px;
  border: 17px solid rgba(95,153,207,1);
  border-right-color: transparent;
  border-radius: 75%;
  display: none;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
      -ms-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }

    to { -webkit-transform: rotate(360deg); }

}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }

    to { -moz-transform: rotate(360deg); }

}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }

    to { -ms-transform: rotate(360deg); }

}
@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }

    to { -o-transform: rotate(360deg); }

}
@keyframes spin {
    from { transform: rotate(0deg); }

    to { transform: rotate(360deg); }

}

/**************************
  * D3 Data Visualiztions *
 **************************/

.node circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 17px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}

#circlecluster, #frequency, #graphs, #interaction {
  width: 100%;
}

#circlecluster .node {
  font: 10px sans-serif;
}

#circlecluster .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#circlecluster svg {
  -webkit-animation: spin 60s linear infinite;
     -moz-animation: spin 60s linear infinite;
      -ms-animation: spin 60s linear infinite;
       -o-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
}

#frequency h3 {
  text-align: center;
  font-size: 2.3em;
  margin: 74px 0 0 0;
}

#frequency .node {
  font: 13px sans-serif;
}

#graphs {
  font: 10px sans-serif;
}

#graphs .axis path,
#graphs .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#graphs .bar {
  fill: steelblue;
}

#graphs .x.axis path {
  display: none;
}

#graphs h3 {
  top: 0;
  padding-top: 60px;

  text-align: center;
  font-size: 2.3em;
}

#graphs .first-graph {
  padding-top: 0;
}

#graphs div {
  margin: -5px 0 40px;
}

.node circle:hover{
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.node circle{
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
  /* The right and left lasses determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

  /* Add a drop shadow */
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

  z-index: 9999;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the font */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;

  /* Set the text properties */
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255,255,255,0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
