/************
  * General *
 ************/
html, body {
  height: 100%;
}
body{
  background-color: rgba(239,97,36,1);
}
header{
  height:150px;
  margin-top: 0;
  background: rgba(239,97,36,1) url("../img/reddit-logo.gif") 50% 0 no-repeat;
}
nav{
  border-radius: 0;
  background: #fff;
}
.navbar .brand{
  color:rgba(95,153,207,1);
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
  color:rgba(95,153,207,1);
}
.container-fluid{
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  border: 20px solid #fff;
  padding: 1%;
  min-height: 70%;
  position: relative;
}
.container-fluid h2{
  text-align: left;
  color:rgba(95,153,207,1);
  font-weight: 700;
  font-size: 6em;
  letter-spacing: -.1em;
  position:relative;
  top:-50px;
  text-shadow:
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.container-fluid h3{
  text-align:left;
  color:rgba(50,50,50,0.8);
  font-weight: bold;
  font-size:1.6em;
  position: relative;
  top:-75px;
}
.container-fluid form, #trackpost{
  text-align:left;
}
#trackpost-chart{
  float:right;
  margin-top:-100px;
}
#trackuser-data, #trackuser-posts{
  text-align: left;
}
.stats-title{
  font-weight: bold;
}
#trackuser-posts{
  margin-top: 30px;
}
#trackuser-data{
  margin-bottom: 20px;
}
#tracking-url{
  min-width: 25%;
}

/************
  * Charts *
 ************/
.y-axis{
  margin:100px 10px 10px 10px;
  float:left;
}
.x-axis{
  margin-top:265px;
  float:left;
  position:relative;
  left:300px;
}

/****************
  * Word Cloud *
 ***************/
 .wordcloud-form{
  margin:100px;
 }

.wordcloud-form p, .wordcloud-form select, .wordcloud-form input{
  display:inline;
  margin:10px;
}
/************
  * Footer *
 ************/
footer{
  min-height: 40px;
  background-color: #fafafa;
  position: relative;
}
.footer-inner{
  margin: 0 10%;
  padding: 5px 20px 0;
}
footer .footer-inner .nav{
  margin: 0;
}
footer li a {
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
footer li a:hover{
  color: #333;
}

/*********************
  * Submit & Loader *
 *********************/
.ladda-button{
  background-color: rgba(239,97,36,1);
  margin: -10px 0 0 10px;;
}
.submit-another{
  display: none;
  margin: 15px 0 20px 0;
}
.loader {
  width: 50px;
  height: 50px;
  border: 17px solid rgba(95,153,207,1);
  border-right-color: transparent;
  border-radius: 75%;
  display: none;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
      -ms-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
}
