html, body {
  height: 100%;
}
.y-axis{
  margin:100px 10px 10px 10px;
  float:left;
}
.x-axis{
  margin-top:265px;
  float:left;
  position:relative;
  left:300px;
}

body{
  background-color: rgba(239,97,36,1);
}
.container-fluid{
  margin:0 10%;
  background-color: rgba(255,255,255,0.8);
  border: 20px solid #fff;
  padding: 1%;
  min-height: 70%;
  position: relative;
}
header{
  height:150px;
  margin-top: 0;
  background: rgba(239,97,36,1) url("../img/reddit-logo.gif") 50% 0 no-repeat;
}
nav{
  border-radius: 0;
  background: #fff;
}

.navbar .brand{
  color:rgba(95,153,207,1);
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
  color:rgba(95,153,207,1);
}

.container-fluid{
  text-align: center;
  height:1000px;
  margin:0 0 1% 0;
  border:none;
  border-top:10px solid #fff;
  padding-left:3%;
}
.container-fluid h2{
  text-align: left;
  color:rgba(95,153,207,1);
  font-weight: 700;
  font-size: 8em;
  letter-spacing: -.1em;
  position:relative;
  top:-50px;
  text-shadow:
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.container-fluid h3{
  text-align:left;
  color:rgba(50,50,50,0.8);
  font-weight: bold;
  font-size:1.6em;
  position: relative;
  top:-75px;
}
.container-fluid form, #trackpost{
  text-align:left;
}
#trackpost-chart{
  float:right;
  margin-top:-100px;
}
#trackuser-data, #trackuser-posts{
  text-align: left;
}
.stats-title{
  font-weight: bold;

}

footer{
  margin-top: 30px;
  min-height: 40px;
  background-color: #fafafa;
  position: relative;
}
.footer-inner{
  margin: 0 10%;
  padding: 5px 20px 0;
}
footer .footer-inner .nav{
  margin: 0;
}
footer li a {
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
footer li a:hover{
  color: #333;
}

