.y-axis{
  margin:100px 10px 10px 10px;
  float:left;
}
.x-axis{
  margin-top:265px;
  float:left;
  position:relative;
  left:300px;
}

body{
  background-color: rgba(239,97,36,1);
}
.container-fluid{
  margin:0 10%;
  background-color: rgba(255,255,255,0.8);
  border: 20px solid #fff;
  padding:1%;
}
header{
  height:150px;
  margin-top: 0;
  background: rgba(239,97,36,1) url("../img/reddit-logo.gif") 50% 0 no-repeat;
}
nav{
  border-radius: 0;
  background: #fff;
}