<h2>Topic Cluster</h2>
  <form id='formtopicCluster'>
  <span for='subreddit'>Subreddit:</span>
  <select name="subreddit">
    <option value='PoliticsCluster' #if PoliticsCluster selected /if>Politics</option>
    <option value='ScienceCluster' #if ScienceCluster selected /if>Science</option>
    <option value='TechnologyCluster' #if TechnologyCluster selected /if>Technology</option>
    <option value='WorldNewsCluster' #if WorldNewsCluster selected /if>World News</option>
  </select>
  <button class="ladda-button">
      <span class="ladda-label">Submit</span>
  </button>
</form>
