<div class="inner-container">
  <div class="row-fluid">
    <h2 class="downloaded">We downloaded the Reddit</h2>
    <h4 class="index-small">What we found will surprise you.</h4>
  </div>

  <div class="row-fluid index-highlight">

    <div class="span6">
      <h5 class="index-smaller">Real-Time Post Tracking</h5>
        <p>Just submitted a new post?</p>
        <p>Want to visualize its performance and Karma?</p>
        <a href="#/trackpost/">
          <button id="trackpost-nav" class="ladda-button" data-style="contract" data-size="l">
            <span class="ladda-label">Track Post</span>
          </button>
          <img src="images/trackpost_preview.jpg">
        </a>
    </div>

    <div class="span6">
        <h5 class="index-smaller">Track a Single User</h5>
        <p>Curious to see what your best performing post is?</p>
        <p>Want to see a user's post and comment history?</p>
        <a href="#/trackuser/">
          <button id="trackuser-nav" class="ladda-button" data-style="contract" data-size="l">
              <span class="ladda-label">Track User</span>
          </button>
          <img src="images/trackuser_preview.jpg">
        </a>
    </div>
  </div>
  <div class="row-fluid index-highlight">

    <div class="span6">
      <h5 class="index-smaller">Word Clouds</h5>
        <p>Want to generate your own word cloud?</p>
        <p>Give greater prominence to words that appear more frequently in your Subreddit.</p>
        <a href="#/wordcloud">
          <button id="wordcloud-nav" class="ladda-button" data-style="contract" data-size="l" style="width:160px;">
            <span class="ladda-label">Word Cloud</span>
          </button>
          <img src="images/wordcloud_preview.jpg">
        </a>
    </div>

    <div class="span6">
        <h5 class="index-smaller">View Interaction</h5>
        <p>See the relationship between controversy ratio, interactions, and total karma per subreddit.</p>
        <a href="#/interaction">
          <button id="interaction-nav" class="ladda-button" data-style="contract" data-size="l" style="width:145px;">
            <span class="ladda-label">Interaction</span>
          </button>
          <img src="images/interaction_preview.jpg">
        </a>
    </div>
  </div>

  <div class="reddit-stats">
    <h5 class="index-smaller">Data Nuggets</h5>
    <div class="row-fluid">
      <div class="span2 offset3">
        <section id="infograph-cats-img">
          <img class="cat-img" src="images/Cat_5.png" alt="cat" />
        </section>
      </div>
      <div class="span4">
        <section id="infograph-cats">
          <p>"Dogs" occurs more times in titles in r/aww than "cats" or "kittens"</p>
          <p class="small">Despite their internet popularity cats are not submitted nearly as many times on this cuddly SubReddit.</p>
        </section>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2 offset1">
        <section id="infograph-nsfw-img">
          <img class="nsfw-img" src="images/Woman_silhouette.png" alt="lady" />
        </section>
      </div>

      <div class="span5">
        <section id="infograph-nsfw">
          <p>"Perfect" occurs most frequently in the nsfw SubReddit titles</p>
          <p class="small">This adjective is surprisingly in the lead for all words used in titles in this not safe for work SubReddit.</p>
        </section>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6 offset6">
        <section id="infograph-karma">
          <p>The top 5 SubReddits make up 40.5% of all Karma</p>
          <ol>
            <li>r/Funny</li>
            <li>r/Pics</li>
            <li>r/Advice Animals</li>
            <li>r/Aww</li>
            <li>r/Gaming</li>
          </ol>
        </section>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8 offset2">
        <section id="karma-post">
          <p>r/Technology leads all SubReddits, with an average of <span>2,027</span> Karma per Post</p>
        </section>
      </div>
    </div>

</div>
