<h2>Track a User</h2>
<button class="submit-another ladda-button" data-size="s"
        ng-click="trackUser()">
  <span class="ladda-label">Track Another User</span>
</button>

<div id="trackuser-data">
  <!-- <pre>{{ redditData.user | json }}</pre> -->
  <ul>
    <li class="slide-down-fade-animate" ng-repeat="(key, value) in redditData.user">
      <span class="stats-title">{{ key }}</span> {{ value }} <br>
    </li>
  </ul>

  <div id="chart_container">
    <div id="y_axis"></div>
    <span class="y-axis">Karma</span>
    <div id="user-chart"></div>
  </div>

</div>

<div class="loader"></div>

<div id="trackuser-posts">
  <div class="slide-down-fade-animate" ng-repeat="post in redditData.overview" ng-switch on="post.kind">

    <div class="posts" ng-switch-when="t3">
       <a ng-href="http://www.reddit.com{{ post.data.permalink }}" target="_blank">
         <h4>{{ post.data.title }}</h4>
       </a>
       <a target="_blank"
          ng-if="post.data.thumbnail != 'default'"
          ng-href="{{ post.data.url }}">
         <img ng-src="{{ post.data.thumbnail }}">
       </a>
       <br>
       <span class="stats-title">Author: </span>{{ post.data.author }}<br>
       <span class="stats-title">Score: </span>{{ post.data.score }}<br>
       <span class="stats-title"><i class="icon-arrow-up"></i>: </span>{{ post.data.ups }}</br>
       <span class="stats-title"><i class="icon-arrow-down"></i>: </span>{{ post.data.downs }}<br>
       <span class="stats-title">Created at: </span>{{ post.data.created_utc | date }}
       <br>
       <span class="stats-title">Comments: </span>{{ post.data.num_comments }}<br>
       <hr>
    </div>

    <div class="comments" ng-switch-when="t1">
      <span class="stats-title">Link Title: </span>{{ post.data.link_title }}<br>
      <span class="stats-title">Author: </span>{{ post.data.author }} <br>
      <span class="stats-title">Score: </span>{{ post.data.score }} <br>
      <span class="stats-title"><i class="icon-arrow-up"></i>: </span>{{ post.data.ups }} </br>
      <span class="stats-title"><i class="icon-arrow-down"></i>: </span>{{ post.data.downs }} <br>
      <span class="stats-title">Sub Reddit: </span>{{ post.data.subreddit }} <br>
      <span class="stats-title">Created at: </span>{{ post.data.created_utc | date }} <br>
      <span class="stats-title">Comment: </span>{{ post.data.body }}<br>
    </div>

  </div>
</div>
