<div class="post">
  <h2>Track a Post</h2>

  <button class="submit-another ladda-button" data-size="s"
          ng-click="cancelPolling()">
    <span class="ladda-label">Track Another Post</span>
  </button>
  <div class="row-fluid">

    <div class="loader"></div>

    <article class="span6 slide-down-fade-animate" id="trackpost-urlState" style="text-align:left" ng-if="true">
      <a ng-href="{{ redditData.url }}" target="_blank">
        <img ng-src="{{ redditData.thumbnail }}">
      </a>
      <h4>
        <a target="_blank"
           ng-href="{{ redditData.url }}">{{ redditData.title }}
        </a>
        <small>
        <a target="_blank"
           ng-href="http://{{ redditData.domain }}">{{ redditData.domain }}
        </a>
        {{ redditData.link_flair_text }}
        </small>
      </h4>

        Created at: {{ redditData.created_utc | date:'medium'}}<br>
      <div class="post-info">
        Author: <h4 style="display:inline"><a href="https://pay.reddit.com/user/{{ redditData.author }}" target="_blank">{{ redditData.author }}</a></h4> {{ redditData.author_flair_text }}
        <br>
        Subreddit: <h4 style="display:inline"><a href="https://pay.reddit.com/r/{{ redditData.subreddit }}" target="_blank">{{ redditData.subreddit }}</a></h4>
        <br>
        Score: <h4 style="display:inline" ng-bind="redditData.score"></h4>
        <br>
        <i class="icon-arrow-up"></i>: <h4 style="display:inline" ng-bind="redditData.ups"></h4>
        <br>
        <i class="icon-arrow-down"></i>: <h4 style="display:inline" ng-bind="redditData.downs"></h4>
        <br>
        <span ng-show="redditData.link_flair_text">Reports: {{ redditData.link_flair_text }}<br></span>
        <a target="_blank"
           ng-href="https://pay.reddit.com{{ redditData.permalink }}">
          Comments: <h4 style="display:inline" ng-bind="redditData.num_comments"></h4>
        </a>
      </div>
    </article>

    <article id="trackpost-chart" track-post score="redditData.score">
      <div id="chart_container">
        <div id="legend"></div>
        <div id="y_axis"></div>
        <span class="y-axis">Karma</span>
        <span class="x-axis">Time</span>
        <div id="chart"></div>
      </div>
    </article>

  </div>
</div>

<pre>{{ redditData | json }}</pre>
